SIMUDYNE_API_KEY=pk_live_your_key_here
SIMUDYNE_SYMBOL=
SIMUDYNE_DATE=
SIMUDYNE_ALLOWED_DATES=
SIMUDYNE_ALLOWED_SYMBOLS=
SIMUDYNE_ALLOWED_SCENARIOS=
SIMUDYNE_STARTUP_FORCE_REFRESH=1
SIMUDYNE_STARTUP_BLOCKING_WARMUP=1
SIMUDYNE_KEEP_RAW_PARQUET=1
SIMUDYNE_WARMUP_WORKERS=8
SIMUDYNE_DUCKDB_THREADS=4
SIMUDYNE_API_TIMEOUT_SEC=120
SIMUDYNE_API_RETRIES=2
SIMUDYNE_API_RETRY_BACKOFF_SEC=2.0
